:root {
  --top-color: #292d32;
  --main-font: "Poppins", sans-serif;
  --hover-color: #5932ea;
  --menu-color: #9197b3;
  --text-color: #b5b7c0;
  --active-color: #008767;
  --inactive-color: #df0404;
}
