.cus__page {
  display: flex;
  flex-direction: column;
  background-color: #fafbff;
}

.user-name {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 41px;
  margin-left: 71px;
  margin-bottom: 51px;
}

.cus__block {
  display: flex;
  flex-direction: column;
  width: 968px;
  height: 812px;
  flex-shrink: 0;
  border-radius: 15px;

  background-color: var(--white-color);
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
}

.cus__top {
  display: flex;
  margin: 30px 53px 40px 38px;
  //   margin-bottom: 40px;
}
.text__customers {
  color: var(--black-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;
  margin-bottom: 7px;
}

.text__active {
  color: #16c098;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
}

.top__input {
  width: 216px;
  height: 38px;
  flex-shrink: 0;
  margin-left: auto;

  border-radius: 10px;
  background: #f9fbff;
  border-color: transparent;

  padding-left: 30px;
  background-image: url("../../img/input-img.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
}

.cus__down {
  display: flex;
  margin: 30px 40px 40px 38px;
}

.down__pagination {
  display: flex;
  gap: 12px;
}

.down__text {
  color: #b5b7c0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  margin-right: auto;
}

.pagination__active {
  width: 26px;
  height: 24px;
  display: inline-flex;
  //   padding: 6px 9px;

  align-items: center;
  justify-content: center;

  border-radius: 4px;
  border: 1px solid #eee;
  background: #f5f5f5;
  cursor: pointer;
}

.pagination__active {
  &:hover {
    background-color: var(--hover-color);
  }
}

.pagination__active:hover .paginator__num {
  color: var(--white-color);
}

// <-----Burger button----->

.menu-open-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: #fafbff;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: var(--hover-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
