.user {
  width: 155px;
  display: flex;
  margin-left: 28px;
  margin-bottom: 76px;
}

.user-text__block {
  margin-left: 12px;
}

.user__name {
  color: var(--black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}

.user__stat {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
